.App {
	// border: 2px solid royalblue;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	line-height: 1;

	table {
		width: 500px;
		cursor: pointer;
	}

	.chart {
		text-align: center;
	}
}

.dark {
	display: flex;
	justify-content: center;
	margin: 1% auto;

	span {
		padding-right: 1%;
	}
}

.dark-mode {
	background: rgb(40, 40, 40);
	color: whitesmoke;
	table {
		color: white;
		&:hover {
			tr {
				color: seashell;
			}
		}
	}
}

.dark-mode__toggle {
	background: #fff;
	border-radius: 50px;
	border: 1px solid black;
	height: 20px;
	position: relative;
	width: 40px;
	cursor: pointer;
}

.toggle {
	background: lightskyblue;
	border-radius: 50px;
	height: 18px;
	left: 0;
	position: absolute;
	transition: 0.2s;
	width: 20px;
}

.toggled {
	left: 18px;
}
.title {
	text-align: center;
	margin-bottom: 50px;
}
